<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>Sexlog</title>

        <link href="./css/style.css" rel="stylesheet">


         <script src="./js/data.js"></script>      
        
        <!-- jQuery -->
        <script src="./js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap -->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <script src="./js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="./js/angular.min.js"></script>
        <script src="./js/angular-route.min.js"></script>
        <script src="./js/controller.geral.js"></script>        
    </head>
    <body ng-app="myAppAssinatura">
        <div class="container" ng-controller="ctrlGeral">
            <div id="myModal" class="modal show" role="dialog">
              <div class="dialog-modal">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title"><b>Assine o Sexlog VIP</b></h4>
                  </div>
                  <div class="body-modal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="showFinal" id="divNavigation">
                        <ul id="navigation">
                            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 current" id="primeiro">
                                Escolha o plano ideal para você
                            </li>
                            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="segundo">
                                Escolha a forma de pagamento
                            </li>
                        </ul>
                    </div>                    
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divPlano" ng-if="showPlano" >
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="destaquePrecos">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="textoBase">
                                        {{currency}} 
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="precoInt">
                                        {{integer}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="complementos">
                                        <span class="precoDecimal">
                                            {{decimal}}
                                        </span>
                                        <br><br><br>
                                        <span class="textoBasePeriodicy">
                                            {{periodicy}}
                                        </span>
                                    </div>
                                </div>
                            <div id="divTotal">
                                {{total}}
                                <hr class="linha-separadora"/>
                            </div>
                            <br>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="images">
                                <img src="./img/icon-credit-card.svg"><br>
                                <img src="./img/icon-debit.svg"><br>
                                <img src="./img/icon-boleto.svg">
                            </div>
                                <div>
                                <span ng-repeat="payment in payments" class="payments">
                                    {{payment}}
                                    <br>
                                </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div ng-repeat="plan in plans.plans" class="opcoesPlanos" id="div{{plan.id}}">
                                    <label>
                                        <input type="radio" ng-model="option" ng-click="click(plan)" name="plano" value="{{plan.id}}" />
                                        {{plan.name}}

                                    </label>
                                        <span>
                                        {{plan.discount}}
                                        </span>
                                </div>
                            </div>
                        </div>   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divFormaPagto" ng-if="showProxPasso">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="planoEscolhido" >
                                Plano escolhido: <span>{{planoEscolhidoNome}} - {{planoEscolhidoTotal}}</span>

                                <hr class="linha-separadora"/>
                            </div>
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 erroPagto" ng-if="erros.length > 0">
                                
                                <span>Preencha os seguintes campos corretamente:</span>
                                <span ng-repeat="erro in erros" id="errosMobile" style="display:inline-block;">*{{erro}}&nbsp;&nbsp;</span>                              
                                
                            </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0px;">
                                    <label>Número do cartão
                                    </label>
                                        <input type="text" id="nr_cartao" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="Número do cartão" onkeyup="this.value=this.value.replace(/[^\d]/,'')"/>
                                </div>
                                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12" id="divValidade" style="padding: 0px;">
                                     
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
                                                <label>Validade   
                                                </label>     
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0px;">
                                                <select class="form-control col-lg-6 col-md-6 col-sm-6 col-xs-6" id="mes">
                                                    <option hidden value="">Mês</option>
                                                    <option ng-repeat="(key,value) in meses" value="{{key}}">{{value}}</option>
                                                </select>                  
                                            </div>   
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0px;">             
                                                <select class="form-control col-lg-6 col-md-6 col-sm-6 col-xs-6" id="ano">
                                                    <option hidden value="">Ano</option>
                                                    <option ng-repeat="ano in anos" value="ano">{{ano}}</option>
                                                </select>    
                                            </div>   
                                        </div>

                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
                                    <label>Nome do titular</label>
                                        <input type="text"  class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nome_titular" placeholder="Nome do titular" onkeydown="upperCaseF(this)"/>
                                    
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="divCodigo" style="padding: 0px;">
                                    <label>Código de segurança</label>
                                        <input type="text"  class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cod_seguranca" placeholder="000" maxlength="3" onkeyup="this.value=this.value.replace(/[^\d]/,'')"/>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="alertPagto col-lg-12 col-md-12 col-sm-12 col-xs-12">Para sua privacidade, a cobrança será feita em nome de "assinet-pgto-sl"</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divFinal" ng-if="showFinal">
                            <img src="./img/check.png">
                            <br>
                            <span>
                                <h2>Parabens!</h2>
                                <h3>Você agora é um assinante Sexlog!</h3>
                            </span>
                            <br>
                             <button type="button" class="btn buttonExplorar" ng-show="showFinal" id="btnExplorarDesktop">Explorar o Sexlog</button>

                        </div>
                    </div>
                  </div>
                  <div class="modal-footer" ng-hide="showFinal">
                    <span class="secure">
                        <img src="./img/icon-secure.png"/>
                    </span>

                    <button type="button" class=" btn buttonProx" ng-show="showPlano" ng-click="showProxPasso=true;showPlano=false;ativaProximo()" >Próximo passo: pagamento</button>
                    <button type="button" class="btn buttonProx" ng-show="showProxPasso" ng-click="valida()" >Concluir minha assinatura</button>
                  </div>
                  <div id="footerMobile">
                    <button type="button" class=" btn buttonProx col-sm-12 col-xs-12" ng-show="showPlano" ng-click="showProxPasso=true;showPlano=false;ativaProximo()" >Próximo passo: pagamento</button>
                    <button type="button" class="btn buttonProx  col-sm-12 col-xs-12" ng-show="showProxPasso" ng-click="valida()" >Concluir minha assinatura</button>
                     <button type="button" class="btn buttonExplorar col-sm-12 col-xs-12" ng-show="showFinal">Explorar o Sexlog</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
